{% extends 'header.html.twig' %}

{% block title %}S'enregister{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
        <div class="container-fluid h-100">
            <div class="row justify-content-center align-items-center">
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <h1 class="mt-5 mb-5 text-center">Créer un compte</h1>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('app_register_candidate') }}">Comme candidat</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="{{ path('app_register_recruiter') }}">Comme recruteur</a>
                    </div>
                </div>
                <p class="mt-5 text-center">Revenir sur l'écran de <a href="{{ path('app_login') }}">login</a><p>
            </div>
        </div>
{% endblock %}
