{% extends 'header.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}
{{ include('navbar.html.twig') }}
<div class="m-5">
    <h3>Liste des candidats pour cette offre</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.candidate.lastname }}</td>
                <td>{{ application.candidate.firstname }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucune annonce</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="m-5">
        <a href="{{ path('app_dashboard_recruiter_index') }}" class="btn btn-outline-primary">Retour au tableau de bord</a>
    </div>
</div>

{% endblock %}